/zig-out/
/zig-cache/
/.idea/
/lib/
/backup/
/not-quite-successful/lib/
/not-quite-successful/backup/
build.zig
md2dc.orig
*.class
md2dc2zig.zig
md2dja.iml
md2d.c.orig
md2dc
md2dz
mc2d.zig
md2dc.as.zig
*.lps
*.lpi
*.o
*.lpr
md2dp
md2d
ppas.sh
link*.res
